@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
body {
    overflow-x: hidden;
    display: flex;
    font-family: "Fredoka", sans-serif;
    padding: 0rem 15rem;
    height: 100vh;
    margin: 0;
    background-color: #161616;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
.invis{
    visibility: visible;
    position: relative;
}
h1 {
    color: white;  
    font-size: 7rem;
    text-align: center;
    margin: 3rem 1rem;
    transition: all 1s ease;
    position:absolute;
}
/* h1:hover {
    color: white;  
    font-size: 7.25rem;
    text-align: center;
    margin: 3rem 1rem;
    transition: all 1s ease;
    position:absolute;
} */
h2 {
  color: white;  
  font-size: 4.5rem;
  text-align: center;
  transition: all 1s ease;
  margin: .5rem 1rem;

}
h3 {
  color: white;  
  font-size: 3rem;
  text-align: center;
  transition: all 1s ease;
  margin: .5rem 1rem;

}
h4 {
  color: white;  
  font-size: 2rem;
  text-align: center;
  transition: all 1s ease;
  margin: .5rem 1rem;

}
p {
    text-align: center;
    font-size: 3rem;
    color: rgb(155, 155, 155);
    margin: 0.5rem 0.5rem;
    transition: all 0.5s ease;

}
p:hover{
    text-align: center;
    color: white;
    margin: 0.5rem 0.5rem;

}
.container {
    box-sizing: border-box;
    margin: 1rem 0.5rem;
    padding: 0;
    transform: scale(1);
  }
  .entryarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1.25rem;
    position: relative;
  }
  input {
    font-family: "Fredoka", sans-serif;
    outline: none;
    font-size: 1.5rem;
    padding: 1.5rem 0.625rem;
    border-radius: 1rem;
    border: 0.25rem solid rgb(155, 155, 155);
    background: transparent;
    transition: 0.5s ease;
    width: 70%;
    z-index: 10;
  }
  
.message:focus,
.message:valid {
  z-index: 1;
  color: white;
  border: 0.25rem solid white;
}

.grid-container {
    /* filter: blur(2px); */
    justify-content: center;
    align-content: center; 

    display: grid;
    grid-template-columns: repeat(var(--columns, 5), 50px); /* default is 5 columns, each 50px wide */
    grid-template-rows: repeat(var(--rows, 7), 50px);    /* default is 7 rows, each 50px high */
    transform: scale(1.5);
    width: 100%;
    height: 100%;
    transition: all .5s ease;
  }
  
  .grid-item {
    border: 0.15rem solid rgb(155, 155, 155);
    color:white;
    font-size: 1.5rem;
    box-sizing: border-box;             
    margin: .5rem .5rem;
    border-radius: .15rem;
    text-align: center;
  }

  .player{
    transition: all 0.5s ease;
    width: 4rem;
    height: 4rem;
    position: absolute;
    border: .4rem solid white;
    box-sizing: border-box;  
    margin: .5rem .5rem;
    border-radius: 10rem;
}
.safe{
  border-color:white;
}
.stand{
  border-color:white;
}

button {
  font-family: "Fredoka", sans-serif;
  background-color: transparent;
  border: .25rem solid rgb(155, 155, 155);
  border-radius: 1.75rem;
  color: rgb(155, 155, 155);
  font-size: 3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  display: inline-block;
  transition: all 0.5s ease;
  margin: 0.5rem 0;
  cursor: pointer;
}
.glow-button:hover {
  color: white;
  border: .25rem solid white;
}
.clickable{
  cursor: pointer;
}


/* DROPDOWN MENU CSS */
.dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0;
}

.selector {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  width: 120px;
  padding: 10px;
  font-size: 16px;
  border: .25rem solid rgb(155, 155, 155);
  border-radius: 5px;
  background-color: transparent;
  color: rgb(155, 155, 155);
  cursor: pointer;
  position: relative;
  transition: all .5s ease;
}

.selector::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: white;
  pointer-events: none;
  border: .25rem solid white;
}

.selector:focus {
  border-color: white;
  color:white;
  outline: none;
  background-color: transparent;
}

.selector option {
  color: white;
  background-color: #2c2c2c;
}
/* DROPDOWN MENU CSS */

.tool-bar{
  height: 90%;
  width: 20rem;
  /* position: fixed; */
  right: 2.5%;
  position: absolute;

  z-index: 5;
  border-radius: 1rem;
  border: 0.25rem solid rgb(155, 155, 155);
  background: transparent;
  transition: 0.5s ease;

  overflow-y: scroll;

  justify-content: center;
  align-items: center;

  display: grid;
  place-items: center;
}


.menu{
  height: 80%;
  width: 25rem;
  /* position: fixed; */
  position: absolute;
  z-index: 5;
  border-radius: 1rem;
  border: 0.25rem solid rgb(155, 155, 155);
  background: #161616;
  transition: 0.5s ease;
  overflow-y: auto;
  display: flex;
  background-color: #161616;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all .5s ease;
}
#pause-text{
  position: absolute;
  top: 1rem;
  left: 3rem;
  font-size: 2rem;
}
.challenge-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
.challenge{
  height: 20rem;
  width: 50rem;
  /* position: fixed; */
  z-index: 5;
  border-radius: 1rem;
  border: 0.25rem solid rgb(155, 155, 155);
  background: #161616;
  overflow-y: scroll;
  display: flex;
  background-color: #161616;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all .5s ease;
  margin: 3rem;
  overflow-y: auto;
}
.next{
  position: relative;
  bottom: 0;
}

.challenge-notifier{
  height: 10rem;
  width: 30rem;



  /* position: fixed; */
  right: 2.5%;
  top: 2.5%;
  position: absolute;

  z-index: 5;
  border-radius: 1rem;
  border: 0.25rem solid rgb(155, 155, 155);
  background: #161616;
  overflow-y: scroll;
  display: flex;
  background-color: #161616;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all .5s ease;
  margin: 3rem;
  
  overflow: hidden;
  white-space: nowrap; 
  align-items: baseline;
  text-overflow: ellipsis;

}
.sort-nav{
  position: relative;
  top: 0;
  height: 15rem;
  width: 99;
  border: 0.25rem solid rgb(155, 155, 155);
  border-radius: 1rem;
  background: #161616;
  background-color: #161616;

}
#timer{
  position: absolute;
  top: 4rem;
  right: 4rem;
}